<section class="col-md-12 d-flex justify-content-center mt-5">
    <div class="card col-md-6">
        <div  class="row d-flex justify-content-center">
            <mat-form-field class="col-md-8 mt-3">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="user.email" type="email">
            </mat-form-field>
            <mat-form-field class="col-md-8">
                <mat-label>Password</mat-label>
                <input matInput [(ngModel)]="user.password" type="password">
            </mat-form-field>
            <button color="primary" mat-raised-button class="col-md-5 m-3 p-3" (click)="login()">Sign In</button>
            <button class="btn btn-link text-center" routerLink = "/register">Don't have an account?</button>
        </div>
    </div>
</section>